<nav>
    <ul>
        <li class="general_nav"><a href="/connections">Connections</a></li>
        <li class="user_specific"><a href="/signup">Sign up</a></li>
        <li class="user_specific"><a href="/login">Login</a></li>
        <li class="user_specific"><a href="/connections/new">Start a new connection</a></li>
    </ul>
</nav>
