<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Contact the ARTicles</title>
  <link href="/../assets/stylesheets/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <%- include ('partials/logo.ejs') -%>
    <h1>the ARTicles | Contact</h1>
    <% if (profile != undefined) { %>
      <%- include ('partials/userNav.ejs') -%>
    <% } else { %>
      <%- include ('partials/nav.ejs') -%>
    <% } %>
  </header>

  <main>
    <p>Contact us here!</p>
  </main>

  <%- include ('partials/footer.ejs') -%>
</body>

</html>
